:root {
    --primary-color:rgba(221, 43, 101, 1);
    --secondary-color: rgba(62, 194, 6, 1);
    --black-color:rgba(49, 49, 49, 1);
    --millinnial-pink: #ffd1dc;
    --blue-color: rgba(66, 133, 244, 1);
  }

html{
    overflow-x: hidden;
}
body{
    font-family: "Inter", sans-serif;
    width: 100%;
    margin: 0;
    /*color: var(--primary-color);*/
}
img{
    max-width: 100%;
    height: auto;
}
input[type="radio"]{
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .question label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    padding: 15px 19px;
    border-radius: 10px;
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 1px;
}
.question input[type="radio"]:checked + label {
    background-color: var(--primary-color);
}
@media screen and (max-width:767.98px) {
    .date-timer-text {
        font-size: 14px;
        line-height: 16px;
    }
    .main-title {
        font-size: 24px;
        line-height: 26px;
    }
    .answer {
        font-size: 16px;
    }
}
  label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    padding: 15px 19px;
}
input[type="radio"]:checked + label {
    background-color: var(--primary-color);
}
.timer-block{
    text-align: right;
}
.date-timer-text {
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    color: var(--black-color);
}
.main-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    margin: 0;
    color: var(--secondary-color);
}
.question-title{
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 10px;
    margin-top: 0;
}
.timer-date-inner {
    border-bottom: 1px solid rgba(0, 0, 0, 0.31);
    margin-bottom: 60px;
}
.main-title-block {
    margin-bottom: 80px;
}
.question-image img {
    width: 100%;
    max-width: 1240px;
    max-height: 225px;
    object-fit: contain;
    object-position: center;
    border-radius: 20px;
}
.btn {
    border: 2px solid var(--black-color);
    background-color: var(--black-color);
    padding: 8px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    cursor: pointer;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
  .question-image-upload {
    background-color: var(--millinnial-pink);
    border: 2px dashed var(--primary-color);
    text-align: center;
}
.question-image-upload {
    background-color: var(--millinnial-pink);
    border: 2px dashed var(--primary-color);
    text-align: center;
    width: 100%;
    max-width: 1240px;
    padding: 90px 10px;
    border-radius: 20px;
    position: relative;
}
.question-type {
    max-width: 1240px;
    width: 100%;
    height: 108px;
    border: 1px solid var(--black-color);
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 20px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
}
.answer {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    color: var(--black-color);
}

.correct-answer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.question-block {
    position: relative;
}
.avatar-preview {
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    overflow: hidden;
    bottom: 25px;
    right: 25px;
}
#imagePreview {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* Input css :start */
.inputContainer {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
  }

  .input {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(180, 180, 180, 1);
    border-radius: 7px;
    font-size: 14px;
    padding: 0 40px;
    outline: none;
    background: none;
    display: block;
    height: 55px;
    z-index: 1;
    color: rgba(180, 180, 180, 1);
  }

  /* Hide the placeholder texts (a) */
  /* login page css start */
  ::placeholder {
    color: transparent;
  }

  .forget a {
    font-size: 15px;
    line-height: 18px;
  }

  .label {
    position: absolute;
    top: 20px;
    left: 40px;
    padding: 0 4px;
    background-color: white;
    color: rgba(180, 180, 180, 1);
    font-size: 15px;
    transition: 0.5s;
    z-index: 0;
  }
  input:focus{
    border-color: rgba(3, 7, 8, 1) !important;
    color: rgba(3, 7, 8, 1);
  }

  .input:not(:placeholder-shown)+.label,
  .input:focus+.label {
    top: -9px;
    left: 15px;
    z-index: 10;
    font-size: 15px;
    font-weight: 400;
    color: rgba(180, 180, 180, 1);
  }
  .input:focus {
    border: 1px solid var(--primary-color);
  }
  .input-check label {
    font-size: 15px;
    line-height: 18px;
  }
  .input:focus + .label{
    color: #000;
  }
  .input-icon, .eye-password {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: rgba(180, 180, 180, 1);
}
.input:focus+.input-icon, .input:focus+.eye-password{
    color: #000 !important;
}
.eye-password{
    right: 15px;
    left: auto;
}
/* input css :end   */
/* login page css :start */
.login-wrapper {
    margin-top: 125px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.ft-22 {
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #000;
}
.account-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.clickme {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin: 0;
    border-bottom: 3px solid rgba(180, 180, 180, 1);
}
.active-tab {
    border-bottom: 3px solid var(--primary-color);
}
.account-login-tab {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(180, 180, 180, 1);
}
.account-login {

    padding: 13px;
    text-transform: uppercase;
    border-color: rgba(180, 180, 180, 1);
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 300px;
    width: 50px;
    height: 50px;
    font-size: 16px;
}
.login-form {
    padding: 40px 0;
}
.activelink {
    color: var(--primary-color);
}
.forget a {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--primary-color);
}
.forget-password {
    margin-top: 60px;
    border-bottom: 1px solid rgba(180, 180, 180, 1);
    padding-bottom: 20px;
}
.primary-btn {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 18px 10px;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
}
.login-register {
    width: 85%;
    margin: 0 auto;
}
.google {
    display: flex;
    width: 100%;
    padding: 15px 20px;
    background-color: var(--blue-color);
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    cursor: pointer;
}

.google img {
    width: 30px;
    margin-right: 10px;
}
input#auto-login, input#term {
    width: 18px;
    height: 18px;
    border-radius: 10px;
}
.input-check {
    display: flex;
    align-items: center;
}

.input-check label {
    padding: 8px;
}
.form-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #000;
}
.form-text a{
    color: var(--primary-color);
}
.language {
    position: relative;
    display: flex;
    outline: 0;
}
.language {
    font-size: 14px;
}
/* home page css :start */
.wrapper {
    margin-top: 74px;
}
.category-dropdown select {
    border: 1px solid rgba(208, 208, 208, 1);
    padding: 11px 24px;
    border-radius: 35px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
}
.category-dropdown select {
    border: 1px solid rgba(208, 208, 208, 1);
    padding: 11px 24px;
    border-radius: 35px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
}

.category-dropdown {
    margin-bottom: 40px;
}

.attendence-inner {
    background-color: rgba(62, 194, 6, 0.1);
    padding: 49px 30px;
    text-align: center;
    color: var(--secondary-color);
    border-radius: 20px;
    margin-bottom: 30px;
}

.attendee-count {
    font-size: 68px;
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}

.attendence-inner p {
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

table {
    border: 1px solid rgba(208, 208, 208, 1);
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
  }
  th, td{
    padding: 20px;
    border-collapse: collapse;
    /* border-top: 1px solid rgba(208, 208, 208, 1); */
    /* border-radius: 20px; */
}
  table th:not(:last-child),
table td:not(:last-child) {
 border-right:  1px solid rgba(208, 208, 208, 1);
}
table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
 border-bottom: 1px solid rgba(208, 208, 208, 1);
}
  th {
    font-weight: 700;
    text-transform: uppercase;
}
.join-link h2 {
    font-size: 38px;
    font-weight: 800;
    line-height: 49.4px;
    text-align: left;
    color: rgba(49, 49, 49, 1);
    margin-top: 60px;
}
.join-link a {
    color: var(--primary-color);
}
.stamp-heading {
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    color: #000;
}

.stamp-point {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: rgba(49, 49, 49, 1);
}

.time, .date {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: var(--secondary-color);
    margin-left: 10px;
}
.stamp-date-time{
    color: var(--secondary-color);
    font-size: 22px;
    line-height: 22px;
    margin-top: 40px;
}
.stamp-btn {
    border: 1px solid rgba(49, 49, 49, 1);
    color: rgba(49, 49, 49, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    padding: 16px 41px;
    border-radius: 40px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fff;
}
.stamp-btn.active {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
}
.result-count-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: rgba(169, 169, 169, 1);
}
.stemp-card {
    margin-top: 120px;
}
.stamp-card-inner {
    border-bottom: 1px solid rgba(208, 208, 208, 1);
    padding-bottom: 40px;
    padding-top: 40px;
}
.pagination {
    display: flex;
    justify-content: center;
  }
  .pagination a {
    color: var(--secondary-color);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    width: 60px;
    height: 60px;
    border: 1px solid var(--secondary-color);
    background-color: rgba(62, 194, 6, 0.15);
    border-radius: 41px;
    font-size: 22px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
  .stamp-card-block .stamp-card-inner:nth-last-child(1) {
    border-bottom: 0;
}
.pagination .active {
    background-color: rgba(221, 43, 101, 1);
    border-color: rgba(221, 43, 101, 1);
    color: #fff;
}
.resut-count-dropdown{
    margin-bottom: 0;
}
.footer {
    border-top: 1px solid rgba(208, 208, 208, 1);
    margin-top: 80px;
}

.copyright p {
    margin: 0;
    color: rgba(49, 49, 49, 1);
    padding: 30px 0;
font-size: 18px;
font-weight: 500;
line-height: 18px;

}
.top-rank {
    padding-top: 80px;
}
.rank-wise-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: rgba(62, 194, 6, 0.2);
    border-radius: 10px;
    line-height: 77px;
    margin-bottom: 15px;
}

.rank-wise-inner {
    text-align: center;
    /* border-right: 1px solid rgba(208, 208, 208, 1); */
    position: relative;
    z-index: 1;
}
.rank-wise-inner:after {
    content: "";
    position: absolute;
    right: -12px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(208, 208, 208, 1);
}
.rank-wise .row .col-md-3:nth-last-child(1) .rank-wise-inner:after {
    width: 0;
}
.rank-wise-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    color: var(--black-color);
    margin-top: 0;
}

.current-rank-heading {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: var(--black-color);
    border-bottom: 1px solid rgba(208, 208, 208, 1);
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.current-rank-block {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 70px 0px rgba(49, 49, 49, 0.1);
    padding: 20px 30px;
    border-radius: 20px;
}
.wallet-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: var(--black-color);
    border-bottom: 1px solid rgba(208, 208, 208, 1);
    padding-bottom: 13px;
}
.balance {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: var(--black-color);
    text-transform: uppercase;
}

.profile-attendee-count {
    font-size: 38px;
    font-weight: 800;
    line-height: 38px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 20px;
}

.profile-attendence-inner p {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    color: var(--black-color);
}
.profile-attendence-box {
    width: 100%;
    height: 100%;
    border: 1px solid var(--black-color);
    border-radius: 148px;
    text-align: center;
    padding: 31.7% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-join-link h2 {
    font-size: 26px;
    font-weight: 800;
    line-height: 33.8px;
    text-align: left;
    color: var(--black-color);
}
.profile-join-link a {
    color: var(--primary-color);
}
.exam-wallet-block {
    margin-bottom: 60px;
}
.profile-join-link {
    margin-top: 60px;
}
/* tab css end */
.ribbon {
    position: relative;
    margin: 0 auto 20px;
    padding: 10px 5px;
    text-align: center;
    max-width: 86%;
    width: 100%;
    background: radial-gradient(circle, #ffd1dc 24%, #f85084 82%);
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
    .ribbon::before, .ribbon::after {
      content: '';
      width: 78px;
      height: 100%;
      background-color: #f85084;

      /* position ribbon ends behind and slightly lower */
      position: absolute;
      z-index: -1;
      top: 0px;

      /* clip ribbon end shape */
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);

      /* draw and position the folded ribbon bit */
      background-image: linear-gradient(45deg, transparent 50%, #f85084 50%);
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: bottom right;
    }
    .name-point {
      font-size: 21px;
      display: block;
      font-weight: 700;
  }
  .date-animation {
    display: block;
  }
    .ribbon::before {
      left: -20px;
    }

    .ribbon::after {
      right: -20px;
      transform: scaleX(-1); /* flip horizontally */
    }
    .rank-table-block {
        overflow-y: hidden;
        overflow-x: scroll;
        width: 100%;
    }
    @media (max-width: 480px) {
      .ribbon { font-size: 16px; }
    }
    .bg-video-animation {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      height: 100%;
  }
  .employee-image {
    border: 7px solid;
    border-image: linear-gradient(#ffd1dc, #f85084, #ffd1dc, #f85084) 30;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .employee-image img {
    display: block;
    max-height: 266px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .years-image {
    max-width: 325px;
    width: 100%;
    margin-bottom: -25px;
    position: relative;
    z-index: 1;
  }
  .club-achiever{
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 100%;
  }
  .club-achievers-inner {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .main-title-animation {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    margin: 0 0 20px 0;
    font-family: "Abril Fatface", serif;
  }
  .bg-video-animation video {
    object-fit: cover;
    object-position: center;
  }
  .years-image-diamond {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%) !important;
    max-width: 250px;
    z-index: 1;
  }
  .years-of-glore {
    position: relative;
    z-index: 1;
  }
  .diamond-title {
    text-shadow: 0px 0 20px #fac349;
  }
  .viewbtn {
    color: #000;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
  }
  .ribbon-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 102px;
    max-height: 100%;
  }
  @media screen and (max-width: 574px) {
    .main-title-animation {
      font-size: 30px;
      text-align: center !important;
      margin-bottom: 30px;
  }
  .small-text {
    font-size: 20px;
    display: block;
  }
  .years-of-glore {
    max-width: 345px;
    margin: 0 auto;
    width: 100%;
  }
  .years-image {
    max-width: 235px;
  }
  .years-image-diamond {
    width: 55%;
    bottom: 80px;
    max-width: max-content;
  }
  }
  @media screen and (max-width: 480.98px) {
    .employee-image img{
      height: 171px;
    }
  }
  @media screen and (max-width: 991.98px) {
    .emplyee-name {
      max-width: 300px;
      margin: 0 auto;
      width: 100%;
  }
  .club-achievers-inner{
    padding-left: 10px;
    padding-right: 10px;
  }
  }
  .list-group{margin:0;padding:0}.list-group li{padding:0;list-style:none;margin:0}.list-group li a{color:currentColor;text-decoration:none}
@media screen and (max-width:767.98px) {
    .date-timer-text {
        font-size: 14px;
        line-height: 16px;
    }
    .main-title {
        font-size: 24px;
        line-height: 26px;
    }
    .answer {
        font-size: 16px;
    }
    .wrapper {
        margin-top: 20px;
    }
    .top-rank {
        padding-top: 0;
    }
    .category-dropdown select {
        padding: 6px 10px;
        font-size: 12px;
    }
    .attendee-count {
        font-size: 32px;
        line-height: 32px;
    }
    .attendence-inner {
        padding: 25px 20px;
    }
    .attendence-inner p {
        font-size: 16px;
        line-height: 20px;
    }
    .join-link h2, .profile-join-link h2 {
        font-size: 24px;
        line-height: 31.2px;
        text-align: center;
        margin-top: 30px;
    }
    th, td {
        padding: 10px;
        font-size: 12px;
    }
    .stemp-card{
        margin-top: 60px;
    }
    .result-count-text p {
        font-size: 14px;
    }
    .stamp-detail {
        flex-wrap: wrap;
    }
    .stamp-heading {
        font-size: 14px;
        line-height: 14px;
    }
    .stamp-point {
        font-size: 14px;
        line-height: 14px;
    }
    .stamp-date-time {
        font-size: 12px;
        line-height: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .stamp-btn {
        font-size: 14px;
        line-height: 14px;
        padding: 7px 25px;
    }
    .time, .date {
        font-size: 12px;
        line-height: 22px;
        margin-left: 2px;
    }
    .stamp-card-inner {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .pagination a {
        width: 40px;
        height: 40px;
        line-height: 23px;
        font-size: 16px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .footer {
        margin-top: 40px;
    }
    .copyright p {
        padding: 20px 0;
        font-size: 14px;
        line-height: 18px;
    }
    .profile-attendence-box {
        padding: 0;
        max-width: 230px;
        height: 230px;
        margin: 0 auto 30px;
    }
    .profile-attendee-count {
        font-size: 32px;
        line-height: 32px;
    }
    .profile-attendence-inner p {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 0;
    }
    .profile-join-link {
        margin-top: 30px;
    }
    .rank-wise-icon {
        width: 40px;
        height: 40px;
        line-height: 48px;
    }

    .rank-wise-icon img {
        max-width: 20px;
    }
    .rank-wise-heading {
        font-size: 14px;
        line-height: 14px;
    }
    .rank-wise .row .col-md-3{
        border-bottom: 1px solid rgba(208, 208, 208, 1);
        margin-bottom: 15px;
    }
    .rank-wise .row .col-md-3:nth-last-child(2), .rank-wise .row .col-md-3:nth-last-child(1){
        border-bottom: 0px solid rgba(208, 208, 208, 1);
        margin-bottom: 0px;
    }
    .rank-wise .row .col-md-3:nth-last-child(3) .rank-wise-inner:after {
        width: 0;
    }
    .balance {
        font-size: 18px;
        line-height: 18px;
    }
    .login-wrapper {
        margin-top: 40px;
      }
      .form-logo img {
        max-width: 130px;
      }
      .ft-22 {
        font-size: 16px;
        line-height: 20px;
      }
      .account-login-tab{
        font-size: 18px;
      }
}
